# Unity generated folders
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Ll]ogs/

# Asset meta data
!/[Aa]ssets/**/*.meta

# IDE/Project files
*.csproj
*.sln
*.suo
*.user
*.userprefs

# OS files
.DS_Store
Thumbs.db
